.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
pyproject.toml
dza_admbnda_unhcr2020_shp
dz-cities-wilayas-points.geojson
data
job_test.csv
job_test.json
__pycache__
jobs.ipynb
test.py