.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# GeoJSON and shp
*.geojson
dza_admbnda_unhcr2020_shp

# Test files
test*

data
jobs.ipynb

pyproject.toml